.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
data/*
output/*/*/E*
output/*/*/A*
output/*/*/M*
output/*/*/T*
output/*/*/J*
output/*/*/F*
output/Simulate_Genotypes/*/*/*.pgen
output/Simulate_Genotypes/*/*/*.pvar
output/Simulate_Genotypes/*/*/*.psam
output/Simulate_Genotypes/*/*/*.afreq
output/Simulate_Genotypes/*/*/*.log
output/Simulate_Genotypes/*/*/*.txt
output/Simulate_Genotypes/*/*/*/*.p*
output/Simulate_Genotypes/*/*/*/*.b*
output/Simulate_Genotypes/*/*/*/*.fam
output/Simulate_Genotypes/*/*/*/*.log
output/Simulate_Genotypes/*/*/*/*.afreq
output/Simulate_Genotypes/*/*/*/*.txt
output/Simulate_Phenotypes/*/*/*/*.log
output/Run_GWAS/*
output/Calculate_Tm/*/*/*/p*
output/Calculate_Tm/*/*/*/Tm*
output/PRS/*/*/*/*.log
output/PRS/*/*/*/*.betas
output/PRS/*/*/*/*/*/*.betas
output/PRS/*/*/*/*/*/*.log 
output/Empirical_Null/*
plink2
logs/*
.snakemake/*